fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
slowapi
python-dotenv
tzdata
pyjwt
passlib
bcrypt==4.0.1
python-multipart
email-validator
paho-mqtt
websockets
apscheduler
numpy==1.26.4
scikit-learn
pandas
httpx


onnxruntime==1.18.0
insightface==0.7.3
opencv-python-headless